
services:
  app:
    build:
      context: .
    container_name: laravel-app
    working_dir: /var/www/html
    env_file:
      - .env
    volumes:
      - ./:/var/www/html
    expose:
      - 9000
    command: php-fpm
    networks:
      - bangkahnet

  nginx:
    image: nginx:1.25-alpine
    container_name: laravel-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - bangkahnet

networks:
  bangkahnet:
    driver: bridge
